body {
    font: normal 20pt Arial;
    text-align: center;
    color: white;
    background-color: black;
}

#numero {
    width: 100px;
    height: 30px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    background-color: black;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    font-size: 18px;

}

#limpar {
    width: 100px;
    height: 50px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    background-color: black;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    font-size: 18px; 
    cursor: pointer;
}

#limpar:hover {
    background-color: rgba(187, 187, 187, 0.486);
    color: black;
    width: 110px;
    height: 55px;
    font-size: 20px;
}

#calcular {
    width: 100px;
    height: 50px;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    background-color: black;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    font-size: 18px; 
    cursor: pointer;
}

#calcular:hover {
    background-color: rgba(187, 187, 187, 0.486);
    color: black;
    width: 110px;
    height: 55px;
    font-size: 20px;
}

#resultado {
    font-size: 18px;
}