* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12162B;
    color: white;
    
}

.calculadora {
    text-align: center;
    background-color: #011E4B;
    border: 2px solid #021229;
    border-radius: 20px;
    width: 500px;
    height: 650px;
    margin: 10px;
    padding: 10px;
    gap: 20px;
    box-shadow: 3px 3px 5px #00000038;

}

h1 {
    border-bottom:2px solid #021229;
}

.inputDados {
    font-size: 18px;
    gap: 10px;
    padding: 10px;
    
    
}

#nome, #altura, #peso {
    text-align: center;
    background-color: #005BAA;
    margin: 10px;
    border: 2px solid #021229;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    color: white;
    font-size: 18px;
}

#calcular {
    width: 80%;
    height: 50px;
    background-color: #0074D9;
    color: white;
    border-radius: 10px;
    border: 2px solid #021229;
    cursor: pointer;
    font-size: 18px;
}

#calcular:hover {
    background-color: #004077;
    color: #12162B;
}

#resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    background-color: #004178;
    margin: 50px auto;
    border-radius: 20px;
    padding: 20px;
    font-size: 18px;
    border: 2px solid #021229;
    box-shadow: 3px 3px 5px #01122ccc;
    
}

p {
    margin: 10px;
}