body {
    font: normal 20pt Arial ;
    text-align: center;
    color: rgb(185, 185, 185);
    background-color: black;
}

.numeros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;

}

#numero1, #numero2 {
    width: 100px;
    height: 30px;
    font-size: 18px;
    border-radius: 10px;
    background-color: black;
    color: rgb(185, 185, 185);
    border-color: rgb(185, 185, 185);
    align-items: center;
    justify-content: center;
    text-align: center;
}

#calcular {
    margin: 20px;
    width: 150px;
    height: 50px;
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
    font-size: 20px;
    
}

#calcular:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    width: 155px;
    height: 55px;
    font-size: 21px;
}
